<div ng-controller="navEditCtrl">
    <div class="container p-3">
        <br>
        <div class="card">
            <div class="card-header">
                Edit Navigation
                <a ng-click="changeMenu('nav-list')" class="btn btn-sm btn-primary float-right"> <-Back </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col login-box-holder">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" ng-model="data.title">
                                </div>
                                <div class="form-group">
                                    <label for="link">Link</label>
                                    <input type="text" class="form-control" id="link" ng-model="data.link">
                                </div>
                                <div class="form-group">
                                    <label for="enable">Enable</label>
                                    <select class="form-control" id="enable" ng-model="data.enable">
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-success" ng-click="editData()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>