<div ng-controller="contentAddCtrl">
    <div class="container p-3">
        <br>
        <br>
        <div class="card">
            <div class="card-header">
                Add a New Content
                <a ng-click="changeMenu('content-list')" class="btn btn-sm btn-primary float-right"> <-Back </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col login-box-holder">
                                <div class="form-group">
                                    <label for="key">Key</label>
                                    <input type="text" class="form-control" id="key" ng-model="data.key">
                                </div>
                                <div class="form-group">
                                    <label for="value">Value</label>
                                    <div text-angular="text-angular" id="value" name="value"
                                         ng-model="data.value"></div>
                                </div>
                                <button type="submit" class="btn btn-primary" ng-click="addData()">Insert</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>