<div ng-controller="contentListCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <h1>Content List</h1>
                <a class="btn btn-sm btn-success float-right" ng-click="changeMenu('content-add')">Add New+</a>
                <br>
                <br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">key</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in dataList"> <!--foreach in angular-->
                        <th scope="row">{{$index + 1}}</th>
                        <td>{{data.key}}</td>
                        <td>
                            <a ng-click="editItem(data.id)">
                                <i title="edit" class="fa fa-edit color-green cursor-pointer"></i>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </a>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div>
                    <content>
                        <ul class="pagination pagination-sm">
                            <li ng-repeat="i in range(pageCount) track by $index" class="page-item">
                                <span class="page-link" ng-click="changePage($index)">
                                    {{($index + 1)}}
                                </span>
                            </li>
                        </ul>
                    </content>
                </div>
            </div>
        </div>
    </div>
</div>