<div ng-controller="blogAddCtrl">
    <div class="container p-3">
        <br>
        <br>
        <div class="card">
            <div class="card-header">
                Add a New Blog
                <a ng-click="changeMenu('blog-list')" class="btn btn-sm btn-primary float-right"> <-Back </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col login-box-holder">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" ng-model="data.title">
                                </div>
                                <div class="form-group">
                                    <label for="subtitle">SubTitle</label>
                                    <input type="text" class="form-control" id="subtitle" ng-model="data.subtitle">
                                </div>
                                <div class="form-group">
                                    <label for="publishDate">Publish Date</label>
                                    <input type="date" class="form-control" id="publishDate" ng-model="data.publishDate">
                                </div>
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <select class="form-control" id="status" ng-model="data.status">
                                        <option value="PUBLISHED">published</option>
                                        <option value="DRAFT">draft</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <div text-angular="text-angular" id="description" name="description" ng-model="data.description"></div>
                                </div>
                                <div ng-include="'views/util/fileUploader.html'"></div>
                                <button type="submit" class="btn btn-primary" ng-click="addData()">Insert</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>